

.main{
    display: grid;
    grid-template-columns: 305px 970px 150px;
}
.left-component{
    margin-left: 2px;
    height: 1315px;
    background: #ffffff;
}
.mid-component{
    margin-left: 10px;
    height: 467px;
    background: #ffffff;

}
.right-component{
    margin-left: 10px;
    height: 1315px;
    background: #ffffff
}